---
import { useMenuTranslator } from "@/lib/sideMenuStr";
const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300"; // For primary color replace with `active` class

const isKr = Astro.currentLocale === "kr";
const useTranslator = useMenuTranslator(
  Astro.currentLocale as "kr" | "en"
);
---

<ul class="menu grow shrink menu-md overflow-y-auto">
  <li>
    <a
      class="py-3 text-base"
      id="home"
      href=`/${Astro.currentLocale}`
    >
      {useTranslator("home")}
    </a>
  </li>
  <li>
    <a
      class="py-3 text-base"
      id="projects"
      href=`/${Astro.currentLocale}/projects`
    >
      {useTranslator("project")}
    </a>
  </li>
  <!-- Deleted because I don't have services and stores -->
  <!-- <li><a class="py-3 text-base" id="services" href="/services">Services</a></li>
    <li><a class="py-3 text-base" id="store" href="/store">Store</a></li> -->
  <li>
    <a
      class="py-3 text-base"
      id="blog"
      href=`/${Astro.currentLocale}/blog/`
    >
      {useTranslator("blog")}
    </a>
  </li>
  <li>
    <a
      class="py-3 text-base"
      id="cv"
      href=`/${Astro.currentLocale}/cv`
    >
      {useTranslator("cv")}
    </a>
  </li>
  <li>
    <a
      class="py-3 text-base"
      href="mailto:iwannaberealnerd@gmail.com"
      target="_blank"
      referrerpolicy="no-referrer-when-downgrade"
    >
      {useTranslator("contact")}</a
    >
  </li>

  <script
    define:vars={{
      sideBarActiveItemID: sideBarActiveItemID,
      activeClass: activeClass,
    }}
  >
    const activeItemElem = document.getElementById(
      sideBarActiveItemID
    );
    activeItemElem && activeItemElem.classList.add(activeClass);
  </script>
</ul>
